.custom-checkbox {
  width: 20px;
  height: 20px;
  background-color: white;
  border: 2px solid #ccc;
  border-radius: 4px;

 
  justify-content: center;
  cursor: pointer;
  
}

.custom-checkbox.checked {
  background-color: #007bff; 
  border-color: #007bff; 
  color: white; 
}
